{% extends "admin/login.html" %}
{% load i18n %}

{% block extrahead %}{{ block.super }}
<style type="text/css">
.login .form-row #id_token {
    width: 14em;
}

.login label.required {
    font-weight: bold;
}
#token_info {
    position:relative; /*this is the key*/
    z-index:24; background-color:#eee;
    color:#000;
    text-decoration:none
}

#token_info:hover{z-index:25; background-color:#fff}

#token_info span{display: none}

#token_info:hover span{ /*the span will display just on :hover state*/
    display:block;
    position:absolute;
    top:2em; left:2em; width:15em;
    padding:5px;
    border:1px solid #000;
    background-color:#fff;
    color:#000;
    text-align: left}

</style>
{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
{% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

<div id="content-main">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
    <label for="id_username" class="required">{% trans 'Username:' %}</label> {{ form.username }}
  </div>
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
    <label for="id_password" class="required">{% trans 'Password:' %}</label> {{ form.password }}
    <input type="hidden" name="this_is_the_login_form" value="1" />
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
  <hr />
  <div class="form-row">
    {% if not form.this_is_the_login_form.errors %}{{ form.token.errors }}{% endif %}
    <label for="id_token">{% trans 'Auth Code' %}[<a href="#" id="token_info">?<span>{{ form.token.help_text }}</span></a>]:</label> {{ form.token }}<br />
    
  </div>
  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
  </div>
</form>

<script type="text/javascript">
document.getElementById('id_username').focus()
</script>
</div>
{% endblock %}
