{% extends "twofactor_admin/base_site.html" %}
{% load i18n adminmedia %}
{% load url from future %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}
{% block userlinks %}{% include "twofactor_admin/_userlinks.html" %}{% endblock %}
{% block breadcrumbs %}<div class="breadcrumbs"><a href="../">{% trans 'Home' %}</a> &rsaquo; {% trans 'Two-factor authentication' %}</div>{% endblock %}

{% block title %}{% trans 'Two-factor authentication' %}{% endblock %}

{% block content %}<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div>
{% if form.errors %}
    <p class="errornote">
    {% blocktrans count form.errors.items|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
{% endif %}

<h1>{% trans 'Two-factor authentication' %}</h1>

{% if has_token %}
<p>{% trans "Two-factor authentication is <b>enabled</b> for this account. If you wish to reset your authentication token (to move to a new authenticating device) or disable two-factor authentication altogether, please confirm below:" %}</p>
{% else %}
<p>{% trans "Two-factor authentication is <b>disabled</b> for this account. If you wish enable authentication, please confirm below:" %}</p>
{% endif %}

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.confirmation.errors }}
    <label for="id_confirmation" class="required">{% if has_token %}{% trans 'Reset authentication' %}{% else %}{% trans 'Enable authentication' %}{% endif %}:</label>{{ form.confirmation }}
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="{% trans 'Submit' %}" class="default" />
</div>

</div>
</form></div>

{% endblock %}


